/*
GENERAL SETTING
*/
*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #3bfcbb;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    position: relative;
}

/*
HEADER SETTING
*/
header{ 
    background-color: white;
    height: 80px;   
    display: flex;
    flex-direction: row;
    
}

main {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/*
FOOTER SETTING
*/
footer{
    background-color: white;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/*
GRID END CELL SETTING
*/

#grid{
    display: flex;
    width:  500px;
    height: 500px;
    flex-wrap: wrap;
    margin: 10px;
}

.cell{
    background-color: rgb(245, 254, 251);
    border: 1px solid rgb(16, 16, 76);
    text-align: center;
    font-size: 17px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.clicked_cell{
    background-color: rgb(0, 115, 255);
}

.tnt_exploded{
    background-color: red;
}

.tnt_exploded_all{
    background-color: red;
}

button, select{
    padding: 5px 10px;
    background-color: rgb(255, 170, 0);
    border: 1px solid rgb(255, 170, 0);
    border-radius: 5px;
}

.logo img, .logo h1{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

span{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 25%;
}

h4{
    display: inline-block;
    margin-right: 15px;
}

#score_info{
    color: red;
    font-size: 25px;
    text-align: center;
}