/*
GENERAL SETTING
*/
*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(16, 16, 76)
}

/*
HEADER SETTING
*/
header{ 
    background-color: white;
    height: 80px;   
    display: flex;
    flex-direction: row;
}

main {
    margin: 3rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
FOOTER SETTING
*/
footer{
    background-color: white;
    height: 80px;   
    position: relative;
}

/*
GRID END CELL SETTING
*/

#grid{
    display: flex;
    width:  900px;
    height: 900px;
    flex-wrap: wrap;
}

.cell{
    width: calc(900px / 10);
    height: calc(900px / 10);
    background-color: aquamarine;
    border: 2px solid white;
    text-align: center;
    font-size: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.clicked_cell{
    background-color: rgb(0, 115, 255);
}

button, select{
    padding: 5px 10px;
    background-color: rgb(255, 170, 0);
    border: 1px solid rgb(255, 170, 0);
    border-radius: 5px;
}

.logo img, .logo h1{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

span{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 25%;
}

h4{
    display: inline-block;
    margin-right: 15px;
}